@import "~ant-design-vue/lib/style/index";

// @multi-tab-prefix-cls: ~"@{ant-pro-prefix}-multi-tab";
// @multi-tab-wrapper-prefix-cls: ~"@{ant-pro-prefix}-multi-tab-wrapper";

// .@{multi-tab-prefix-cls} {
//     margin: -23px -24px 24px -24px;
//     background: #fff;
//   }
.ant-pro-multi-tab {
    margin: -23px -24px 24px -24px;
    background: #fff; 
    padding: 0 30px;
    transition: top,left 0.2s;
}
.ant-pro-multi-tab-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.affixed {
    position: fixed;
    padding: 0 269px 0 20px;
    width: 100%;
    top: 22px;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}
.locktab {
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}
.locktab:hover {
    color: #1890ff;
}
.hide {
    font-size: 0;
}
//   .topmenu .@{multi-tab-wrapper-prefix-cls} {
//     max-width: 1200px;
//     margin: 0 auto;
//   }
  
//   .topmenu.content-width-Fluid .@{multi-tab-wrapper-prefix-cls} {
//     max-width: 100%;
//     margin: 0 auto;
//   }